* {
  font-family: 'Barlow', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: $shadowB;
  color: $color;
}

.infinite-scroll-component__outerdiv {
  width: 100%;
}
