//mobile breakpoint
$mobile: 768px;

//basics
$color: rgb(223, 223, 223);
$shadow: #616161;
$colorLight: #fff;
$shadowC: #ececec;
$shadowCT: #696969;
$shadowB: #ffffff;
$highlight: rgb(55, 56, 4);
$submit: rgb(29, 83, 153);
$details: rgb(62, 146, 185);

//scrollable div
@mixin scrollable {
  overflow-y: scroll;
  overflow-x: hidden;

  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

//pill look alike css
@mixin pill {
  font-size: 18px;
  padding: 10px;
  border-radius: 50px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: $shadowCT;
  color: $colorLight;
}

//flex containers
@mixin flex-right-center {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.absolute-left {
  left: 0;
}

.absolute-right {
  right: 0;
}

.icon {
  font-size: 30px;
}

.hide {
  display: none !important;
}

.buffer-top {
  margin-top: 40px;
}

.highlight {
  color: $highlight !important;
  text-shadow: 2px 2px 1px #000000;
}

.withLove {
  color: rgb(230, 87, 111) !important;
  text-shadow: 2px 2px 1px #000000;
}

.italic {
  font-style: italic;
}

.highlightBackground {
  background-color: yellow;
  padding: 5px;
}

.zoom {
  transform: scale(1.5) !important;
  transition: transform 0.2s;
}

.error {
  border: 3px solid rgb(194, 88, 88);
  animation: zoom-in-zoom-out 0.5s ease;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.15, 1.15);
  }
  100% {
    transform: scale(1, 1);
  }
}

#container {
  width: 100vw;
  height: 100vh;

  color: $color;
  background: rgb(63, 124, 251);
  background: linear-gradient(
    298deg,
    rgba(63, 124, 251, 0.8799894957983193) 0%,
    rgba(204, 70, 252, 0.9360119047619048) 100%
  );

  display: flex;
  justify-content: center;
  align-items: center;
}
