#calculator {
  padding: 2%;
  border-radius: 5px;

  max-width: 25%;
  min-width: 450px;
  height: 60%;

  background-color: #421e54bf;
  
  box-shadow: 7px 6px 22px 0px rgba(0, 0, 0, 0.64);

  @media (max-width: $mobile) {
    min-width: auto;
    max-width: 100%;
    height: 100%;
    padding: 5%;
    border-radius: 0px;
  }

  #result {
    @include flex-right-center();

    padding: 10px;
    height: 10%;
    border-radius: 5px;
    font-size: xx-large;

    display: flex;
    align-items: center;
    flex-direction: row-reverse;

    background-color: #af67ad;
    box-shadow: 2px 2px 20px #af67ad;
  }

  #operationBox {
    @include flex-right-center();

    height: 10%;
    padding: 10px;

    font-size: larger;
  }

  #pad {
    width: 100%;
    padding: 10px;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column-reverse;
    gap: 10px;
    justify-content: space-between;
    align-items: center;

    .button {
      border: none;
      padding: 10px;
      min-height: 50px;
      min-width: 50px;
      border-radius: 0px;

      display: flex;
      justify-content: center;
      align-items: center;

      color: $color;
      background-color: rgb(46 35 48 / 55%);
      font-size: larger;

      cursor: pointer;

      user-select: none;
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      -o-user-select: none;

      &.sizeMini {
        width: 15.6% !important;
      }
      &.sizeSmall {
        width: 32% !important;
      }
      &.sizeMedium {
        width: 50% !important;
      }
      &.sizeLarge {
        width: 100% !important;
      }

      &:hover {
        transform: scale(1.1);
        background-color: #733d7c;
        box-shadow: inset 1px 1px 8px 7px #b1679a;
        font-size: x-large;
      }
    }

    #numbers {
      width: 100%;

      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: row-reverse;
      align-items: center;
      gap: 2px;
    }

    #calculators {
      width: 100%;

      display: flex;
      flex-wrap: wrap;
      gap: 2px;
      flex-direction: row;
      justify-content: center;

      .button {
        width: 100%;
      }
    }
  }
}
